### QOS stuff
# Python to py
alias py='python3'
# short clear as cls
alias cls='clear'
# shortcut for ls stuff
alias li='ls -lisah'

### todo.sh aliases
# shorten todo.sh
alias todo='todo.sh'
# shortcut for adding to todo list
alias tadd='todo.sh add'
# shortcut for listing todo list
alias tls='todo.sh ls'
# shortcut for doing task
alias tdo='todo.sh do'
# shortcut for deleting task
alias tdel='todo.sh del'

### Wireguard aliases
# shortcuts vpn home
alias svpn='sudo systemctl start wg-quick@wg_home'
alias rvpn='sudo systemctl restart wg-quick@wg_home'
alias evpn='sudo systemctl stop wg-quick@wg_home'
alias cvpn='sudo systemctl status wg-quick@wg_home'

### Fixing stuff that should work
# overload tmux to use config file
alias tmux='tmux -f ~/.tmux.conf'

### git aliases
alias gcm='git commit -m'
alias ga='git add .'
alias gpull='git pull'
alias gpush='git push'

# gopass
alias gop='gopass list --flat | fzf --border=rounded +m --height=100% | xargs -I@ gopass show -C -n "@"'
